<div ng-include="'header.html'"></div>
<div ng-include="'sidebar.html'"></div>
   <div class="page home-page">     

   <section class="statistics section-padding section-no-padding-bottom section_top" ng-init="clientinit()">
            <div class="container-fluid">
                <header>
                <div ng-show="myLoader" class="spinner">
              <img src="assets/images/spinner.gif"> <!-- https://media1.tenor.com/images/a3bf29a2520198ddcbef0958f3761e14/tenor.gif?itemid=11391686.gif -->
               </div> 
                    <h1 class="h3 display clientreg"><i class="fa fa-user-plus" aria-hidden="true"></i>{{'clientregistration' | translate }}<a ng-hide="role_Setup == 'operator' || role_Setup == 'supervisor'" class="btn_add" ng-click="cleandata()" data-toggle="modal" data-target="#client"><i class="fa fa-plus" aria-hidden="true" ></i></a></h1>
                </header>
                <div class="row d-flex align-items-stretch">
                    <div class="col-lg-3" ng-repeat="client in clients">
                        <div class="card  machine_register_wrapper">
                            <!-- Monthly Usage-->
                            <div class="feed">
                                <div class="feed-body machine_register">
                                    <div class="content">
                                        <div class="machine_edits">
                                          <div ng-hide="role_Setup == 'operator' || role_Setup == 'supervisor'">
                                            <div class="edit" ng-click="edit(client.id)" data-toggle="modal" data-target="#client"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                            <div class="delete" confirmed-click="delete(client.id)"  ng-confirm-click="Do you want to delete"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                          </div>
                                            <div class="count">{{$index+1}}</div>
                                        </div>
                                        <div><a href="#" class="feed-profile client-img">
                                        <img src="assets/images/machine.jpg" alt="person" class="rounded-circle"></a></div>
                                        <strong>{{client.client_name}}</strong>
                                        <div class="full-date"><small><a href="">{{client.email_id}}</a></small></div>
                                         <small>{{client.phone_number}} <small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


 <!-- modal -->
    <div class="modal fade" id="client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{'clientregistration' | translate }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="client">
                       <div class="form-group">
                            <label>{{'clientname' | translate }}</label>
                            <input type="text" placeholder="{{'name' | translate }}" class="form-control" ng-Required="true"  ng-model="clientregistration.client_name">
                        </div>
                        <div class="form-group">
                            <label>{{'emailid' | translate }}</label>
                            <input type="text" placeholder="{{'emailid' | translate }}" class="form-control" ng-Required="true" ng-model="clientregistration.email_id">
                            <span class="error" ng-show="client.email.$error.email">Not valid email!</span>
                        </div>
                        <div class="form-group">
                            <label>{{'mobilenumber' | translate }}</label>
                            <input type="text" placeholder="{{'mobilenumber' | translate }}" class="form-control" ng-Required="true" ng-pattern="phoneNumbr" ng-model="clientregistration.phone_number">
                            <span class="error" ng-show="myForm.phone.$error.required">{{'required' | translate }}!</span>
                            <span class="error" ng-show="client.phone.$error.minlength">Phone no not less that 10 char.</span>
                            <span class="error" ng-show="client.phone.$error.maxlength">Phone no not more than 11 char.</span>
                            <br><span class="error" ng-show="client.phone.$error.pattern">Please match pattern  91-036-78658</span>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="client.$invalid" ng-click="clientForm()">{{'save' | translate }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'close' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

<div ng-include="'footer.html'"></div>
 </div>
