<style type="text/css">
    .active_button{
display: block;
    }
    .deactive_button{
display: none;  
    }
  </style>


<div class="page register-page">
     <div ng-show="myLoader" class="spinner">
              <img src="assets/images/spinner.gif"> <!-- https://media1.tenor.com/images/a3bf29a2520198ddcbef0958f3761e14/tenor.gif?itemid=11391686.gif -->
          </div> 
  <div class="container">
    <div class="form-outer d-flex align-items-center register">
      <div class="form-inner" style="width:100%">
        <div class="logo text-center"><img src="assets/images/logo.jpg"></div>
          <p class="text-center">Password Change </p>
          
          <form id="login-form" name="password_form" ng-submit="passwordSubmit()" method="post">            
            <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="register-email" class="label-custom">Email Address<span style="color: red;">*</span></label>
                    <input id="register-email" type="email" name="email" ng-model="password.email_id"  ng-Required="true">
                  
                  </div>
                </div>
                </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="register-password" class="label-custom">New Password<span style="color: red;">*</span></label>
                  <input id="register-password" type="password" name="password" ng-model="password.password"  ng-Required="true">
                
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="confirm_password" class="label-custom">Confirm Password <span style="color: red;">*</span></label>
                  <input id="confirm_password" type="password" name="confirm_password"  ng-model="password.confirm_password" ng-Required="true">
                  
                </div>
              </div>
            </div>

           
            <div class="row">
                <div class="col-md-12 col-sm-12">
                <div class="terms-conditions d-flex justify-content-center">
              <button style="width:50%" id="register" type="submit" ng-disabled="password_form.$invalid" class="btn btn-primary btn-block">Submit</button>
              <!-- <button id="register" type="submit" ng-disabled="{active_button: inputform.email.$valid, deactive_button:registration.email_id =='' && registration.password == '' && registration.phone_number ==''}" class="btn btn-primary btn-block">Register</button> -->
            </div>
          </div>
            </div>
          </form>
            </form><a href="/#!/login" class="forgot-pass text-center">Login</a>
         
      </div>
    </div>
  </div>
</div>
<script src="assets/js/front.js"></script>
<style>
    .error{
        color: red;
    }
</style>
