<nav class="side-navbar shrink">
  <div class="side-navbar-wrapper">
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <img src="assets/images/logo.jpg" alt="person">
    </div>
    <div class="main-menu">
    <ul id="side-main-menu" class="side-menu list-unstyled">  
<!--        
      <li> 
        <a href="" ng-click="pageverification('/#!/dashboardnew')"><i class="fa fa-home" aria-hidden="true"></i><span>{{'home' | translate}}</span></a>
      </li> -->

      <!-- <li  ng-class="{activebar:sidepath=='dashboard'}">
        <a href="" ng-click="pageverification('/#!/dashboard');dashboard()"><i class="fa fa-th-large" aria-hidden="true"></i><span>{{'dashboard' | translate}}</span></a>
      </li>        -->

      <!-- <li ng-class="{activebar:sidepath=='alarms'}"> 
        <a href="" ng-click="pageverification('/#!/alarms')"><i class="fa fa-bell-o" aria-hidden="true"></i><span>{{'Alarms' | translate}}</span></a>
      </li> -->

      <!-- <li ng-class="{activebar:sidepath=='alert'}"> 
        <a href="" ng-click="pageverification('/#!/alert')"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>{{'alert' | translate}}</span></a>
      </li> -->
         
      <!-- <li ng-class="{activebar:sidepath=='alarmsreport'}">
       <a href="" ng-click="pageverification('/#!/alarmsreport')"><i class="fa fa-folder-open-o" aria-hidden="true"></i><span>Alarm History Report</span></a>
      </li> -->

      <!-- <li ng-class="{activebar:sidepath=='connectionlog'}">
        <a href="" ng-click="pageverification('/#!/connectionlog')"><i class="fa fa-history" aria-hidden="true"></i><span>{{'log' | translate}}</span></a>
      </li> -->
      <!-- <li  ng-class="{activebar:sidepath=='hmi'}">
          <a href="" ng-click="pageverification('/#!/hmi')"><i class="fa fa-line-chart" aria-hidden="true"></i><span>{{'hmi' | translate }}</span></a>
        </li>-->
      <!-- <li ng-class="{activebar:sidepath=='report'}">
        <a href="" ng-click="pageverification('/#!/report')"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>{{'report' | translate}}</span></a>
      </li>      -->

      <!-- <li ng-class="{activebar:sidepath=='statuschart'}">
        <a href="" ng-click="pageverification('/#!/statuschart')"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>{{'Cycle Time Chart' | translate }}</span></a>
      </li>

      <li ng-class="{activebar:sidepath=='chart'}">
        <a href="" ng-click="pageverification('/#!/chart')"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>{{'allshiftchart' | translate }}</span></a>
      </li>

      <li  ng-class="{activebar:sidepath=='cyclestart'}">
        <a href="" ng-click="pageverification('/#!/cyclestart')"><i class="fa fa-line-chart" aria-hidden="true"></i><span>{{'Cycle Start to Start' | translate }}</span></a>
      </li>
      <li  ng-class="{activebar:sidepath=='compare'}">
        <a href="" ng-click="pageverification('/#!/compare')"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Compare</span></a>
      </li>
      <li  ng-class="{activebar:sidepath=='cyclestop'}">
          <a href="" ng-click="pageverification('/#!/cyclestop')"><i class="fa fa-line-chart" aria-hidden="true"></i><span>{{'Cycle Stop to Start' | translate }}</span></a>
        </li>
       <li  ng-class="{activebar:sidepath=='lmw'}">
        <a href="" ng-click="pageverification('/#!/lmw')"><i class="fa fa-line-chart" aria-hidden="true"></i><span>{{'charts' | translate }}</span></a>
      </li> -->

      <!-- <li ng-class="{activebar:sidepath=='notification'}">
        <a href="" ng-click="pageverification('/#!/notification')"><i class="fa fa-wrench" aria-hidden="true"></i><span>{{'notificationsetting' | translate}}</span></a>
        </li>  -->
<!-- 
      <li > <a href="" ng-click="masterShow = !masterShow;"><i class="fa fa-list-alt" aria-hidden="true"></i><span>{{'master' | translate}}</span>
          <div class="arrow rotate pull-right"><i ng-class="{'fa fa-angle-right':masterShow == false,'fa fa-angle-down' : masterShow == true}"></i></div></a> -->
          <!-- <ul  ng-show="masterShow == true" class="list-unstyled"> -->
            <li ng-class="{activebar:sidepath=='machine_registration'}"> <a href="" ng-click="pageverification('/#!/machine_registration')"><i class="fa fa-desktop" aria-hidden="true"></i><span>{{'machine' | translate}}
            </span></a></li>
 <li ng-class="{activebar:sidepath=='wifi'}"> <a href="" ng-click="pageverification('/#!/wifi')"><i class="fa fa-wifi" aria-hidden="true"></i><span>{{'Wifi Config' | translate}}</span></a></li>
            <!-- <li ng-class="{activebar:sidepath=='shift_registration'}"> <a href="" ng-click="pageverification('/#!/shift_registration')"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{'shift' | translate}}</span></a></li>
            <li ng-class="{activebar:sidepath=='oee'}"> <a href="" ng-click="pageverification('/#!/oee')"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{'oee' | translate}}</span></a></li> -->

            <!-- <li ng-class="{activebar:sidepath=='client'}"> <a href="" ng-click="pageverification('/#!/client')"><i class="fa fa-users" aria-hidden="true"></i><span>{{'client' | translate}}<span></a></li>
            <li ng-class="{activebar:sidepath=='job_registration'}"> <a href="" ng-click="pageverification('/#!/job_registration')"><i class="fa fa-handshake-o" aria-hidden="true"></i><span>{{'job' | translate}}</span></a></li> -->
             <li  ng-hide="role_name=='programmer'" ng-class="{activebar:sidepath=='usermanagement'}"> <a ng-hide="email == 'demo@gmail.com'" href="" ng-hide="role_Setup == 'operator' || role_Setup == 'supervisor'" ng-click="pageverification('/#!/usermanagement')"><i class="fa fa-user-o" aria-hidden="true"></i><span>{{'user' | translate}}</span></a></li>
           <!-- <li ng-class="{activebar:sidepath=='operator_masters'}"> <a href="" ng-click="pageverification('/#!/operator_masters')"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>{{'operator' | translate}}</span></a></li>
             -->
           
            <!-- <li ng-class="{activebar:sidepath=='operator_allocation_masters'}"> <a href="" ng-click="pageverification('/#!/operator_allocation_masters')"><i class="fa fa-user-plus" aria-hidden="true"></i>
            <span>{{'operatorallocation' | translate}}</span></a></li>
            <br> -->
          <!-- </ul>  -->
          
        </li>
        <!-- <li ng-show="getId=='14'" > <a href="" ng-click="RabwinShow = !RabwinShow;"><i class="fa fa-list-alt" aria-hidden="true"></i><span>{{'Rabwin' | translate}}</span>
          <div class="arrow rotate pull-right"><i ng-class="{'fa fa-angle-right':RabwinShow == false,'fa fa-angle-down' : RabwinShow == true}"></i></div></a>
          <ul  ng-show="rabwinShow == true" class="list-unstyled">

      <li ng-show="getId=='14'"  ng-class="{activebar:sidepath=='codecompare'}"> 
        <a href="http://183.82.250.137:4444"><i class="fa fa-clone" aria-hidden="true"></i><span>{{'CodeCompare' | translate}}</span></a>
      </li> 
      
      <li ng-show="getId=='14'" ng-class="{activebar:sidepath=='view2'}"> <a href="" ng-click="pageverification('/#!/view2')"><i class="fa fa-bookmark" aria-hidden="true"></i><span>{{'Program List' | translate}}</span></a></li>
      <li ng-show="getId=='14'" ng-class="{activebar:sidepath=='download'}"> <a href="" ng-click="pageverification('/#!/download')"><i class="fa fa-external-link" aria-hidden="true"></i><span>{{'Backup Folder' | translate}}</span></a></li>
      <li ng-show="getId=='14'" ng-class="{activebar:sidepath=='alternative'}"> <a href="" ng-click="pageverification('/#!/alternative')"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>{{'File Path' | translate}}</span></a></li>
      <li ng-show="getId=='14'" ng-class="{activebar:sidepath=='reason'}"> <a href="" ng-click="pageverification('/#!/reason')"><i class="fa fa-clone" aria-hidden="true"></i><span>{{' Reason' | translate}}</span></a></li> -->
 
      <!-- <li  > <a href="" ng-click="fileShow = !fileShow;"><i class="fa fa-file" aria-hidden="true"></i><span>{{'FileCompare' | translate}}</span>
        <div class="arrow rotate pull-right"> -->
      
        <!-- <i ng-class="{'fa fa-angle-right':fileShow == false,'fa fa-angle-down' : fileShow == true}"></i></div></a>
        <ul  ng-show="fileShow == true" class="list-unstyled"> -->

          <!-- File Path -->

          <li ng-hide="role_name=='programmer'" ng-class="{activebar:sidepath=='alternative'}"> <a href="" ng-click="pageverification('/#!/alternative')"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>{{'File Path' | translate}}</span></a></li>

          <!-- Progarm List -->

                  
          <li ng-hide="role_name=='programmer'" ng-class="{activebar:sidepath=='view2'}"> <a href="" ng-click="pageverification('/#!/view2')"><i class="fa fa-bookmark" aria-hidden="true"></i><span>{{'Program List' | translate}}</span></a></li>

          <!-- Backup Folder -->

          
          <li  ng-hide="role_name=='programmer'"ng-class="{activebar:sidepath=='download'}"> <a href="" ng-click="pageverification('/#!/download')"><i class="fa fa-external-link" aria-hidden="true"></i><span>{{'Backup Folder' | translate}}</span></a></li>

          <!-- Codecompare -->
          <li    ng-class="{activebar:sidepath=='codecompare'}"> <a href="http://192.168.1.48:4321/" ><i class="fa fa-clone" aria-hidden="true"></i><span>{{'CodeCompare' | translate}}</span></a></li>


             <!-- Part Documentation -->

             <li  ng-hide="role_name=='programmer'" ng-class="{activebar:sidepath=='part'}"> <a href="" ng-click="pageverification('/#!/part')"><i class="fa fa-clipboard" aria-hidden="true"></i><span>{{'Part Documentation' | translate}}</span></a></li>


          <!-- Reason -->

          <li  ng-hide="role_name=='programmer'" ng-class="{activebar:sidepath=='reason'}"> <a href="" ng-click="pageverification('/#!/reason')"><i class="fa fa-rocket" aria-hidden="true"></i><span>{{'Reason' | translate}}</span></a></li>

         


        
          <br>
        </ul> 
        
      
      </ul>
      </li>
      </ul>
    </li>
    </div>
  </div>
</nav>

<!-- ng-click="pageverification('/#!/codecompare')" -->
<script type="text/javascript">
//   $(function () {
//   $('#sidebar-menu, #customize-menu').metisMenu({
//     activeClass: 'open'
//   });
//   $('#sidebar-collapse-btn').on('click', function(event){
//     event.preventDefault();
//     $("#app").toggleClass("sidebar-open");
//   });
//   $("#sidebar-overlay").on('click', function() {
//     $("#app").removeClass("sidebar-open");
//   });
// });
// $(document).ready(function(){
//       $("#flip").click(function(){
//           $("#panel").slideToggle("fast");
//           $("#flip").toggleClass("open");
//       });
// })  
</script>

<style type="text/css">
/* nav.side-navbar   li.open  a .arrow i{
transform: rotate(90deg);
} */
.activebar{
background-color:#f7941d;
}
</style>
<script type="text/javascript">
  $(document).ready(function () {
      $(".side-navbar").mCustomScrollbar({
          theme: "minimal"
      });
  });
</script>
