<style type="text/css">
    .btn_report {
        margin-top: 0px !important;
    }

    .col-md-3,
    .col-md-2 {
        padding-right: 0px !important;
        padding-left: 5px !important;
    }

    section.statistics {
        padding-top: 80px;
    }

    /*.col-lg-8{
  width: 600px!important;
}*/
</style>

<div ng-include="'header.html'"></div>
<div ng-include="'sidebar.html'"></div>
<div class="page home-page">
    <section class="statistics section-padding section-no-padding-bottom section_top" >
        <div class="container-fluid">
            <header>

                 <div ng-show="myLoader" class="spinner">
                 <img src="assets/images/spinner.gif"> <!-- https://media1.tenor.com/images/a3bf29a2520198ddcbef0958f3761e14/tenor.gif?itemid=11391686.gif -->
                 </div> 

                <h1 class="h3 display reprttop" style="float: left;"><i class="fa fa-laptop"></i>{{'Cycle Time Chart' | translate}}
                    <!-- <a href="" class="btn_top" ng-click="exportData()"><i class="fa fa-share-square-o" aria-hidden="true"></i>Export</a> -->

                </h1>

                <div class="col-lg-8 pr-0 pull-right">
                    <form name="repot">
                        <div class="d-flex align-items-center justify-content-end">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="select">
                                          <label>Machine Name</label>
                                            <select name="account" class="form-control" ng-options="mc.id as mc.machine_name for mc in allmachines"
                                                ng-model="MachineID;"  ng-Required="true">
                                                <option value="">{{'selectmachine' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="select">
                                           <label>Shift No</label>
                                            <select name="account" class="form-control" ng-options="sh.id as sh.shift_no for sh in shiftstransfordrop"
                                                ng-model="ShiftID" ng-change="checkingshiftid()" ng-Required="true">
                                                <option value="">{{'selectshift' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                    <label>Date</label>
                                <div class="form-group" moment-picker="from_date" format="YYYY-MM-DD" max-date="momentToday">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"
                                                aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" ng-Required="true" ng-model="from_date">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <br>
                                <div class="form-group">
                                    <div class="form-group">
                                        <button class="btn btn-success btn_report" ng-click="viewData()" ng-disabled="repot.$invalid"><i
                                                class="fa fa-eye" aria-hidden="true"></i> {{'viewreport' | translate }}</button>
                                        <!-- <button class="btn btn-success btn_report" ng-click="start()" ng-disabled="repot.$invalid"><i class="fa fa-eye" aria-hidden="true"></i> start</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </header>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="updates">
        <div class="container-fluid">

            <div class="row individual_chart" ng-hide="allcycletime.length == 0">
                <div class="col-lg-12">
                    <div class="card report_pie_chart">
                        <div id="partcycle"></div>
                    </div>
                </div>




            </div>

            <!-- <div class="row individual_chart">
    <div class="col-lg-6"  >
        </div>
        <div class="col-lg-3"  >
            </div>
            <div class="col-lg-3"  >
    <div class="form-group">
        
        <div class="select">
            <select name="account" class="form-control"  ng-model="chart1"  ng-change="chartchange(chart1)" >
                <option value="">Select</option>
                <option value="time">Time</option>
                <option value="percentage">Persentage</option>
            </select>
        </div>
    </div>
</div>
</div> -->
            <div ng-hide="imageshow == 2">
                <img src="assets/images/chart_icon.jpg" style="height: 400px;width: 100%; object-fit: contain;">
            </div>
            <div class="row individual_chart">
                <div class="col-lg-6">
                    <div class="card report_pie_chart">

                        <div id="partwithhour"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card report_pie_chart">
                        <div id="hourwise"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row individual_chart">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card">
                        <div id="utilization"></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <div class="row individual_chart">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card report_pie_chart">

                        <div id="starttostart"></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
    </section>
    <div ng-include="'footer.html'"></div>
</div>
